/* media queries - responsive */
@media only screen and (max-width: 1250px) {
  .elements {
    flex-direction: column;
  }
  .triangulo {
    height: 970px;
  }
  .conocer-premios {
    margin-top: 50px;
  }
  .num-table {
    margin-top: 80px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 1178px) {
  /* header */
  header {
    padding-bottom: 10px;
    flex-direction: column;
  }
  header .logo {
    margin-top: 5px;
  }
  header .icons {
    margin-right: 0px;
  }
  header nav {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .slide-img {
    height: 250px;
  }
  .mySlides {
    height: 320px;
  }
  .title {
    font-size: 2rem;
    margin-top: -250px;
  }
  .text2 {
    margin-top: -240px;
  }
  .desc {
    margin-top: -200px;
    font-size: 1.4rem;
  }
  .desc2 {
    margin-top: 25px;
    font-size: 1.4rem;
  }
  .button {
    width: 110px;
    height: 35px;
    font-size: 1.6rem;
  }
  .button-izq {
    margin-left: -88%;
    margin-top: 200px;
  }
  .button-der {
    margin-left: 77%;
  }
  .large-row {
    flex-direction: column;
    align-items: center;
  }
  .cruz {
    margin-top: 30px;
  }
  .info-juego{
    flex-direction: column;
    align-items: center;
    height: 1160px;
  }
  .section-juego, .section-info{
    height: 100%;
  }
  .polygon{
    border: 580px solid var(--solid-purple);
    border-left: 580px solid transparent;
    border-top: 580px solid transparent;
  }
  /* section 5 */
  .section-ganadores{
    height: 1250px;
  }
  .ganadores-container{
    justify-content: space-around;
    height: 92%;
  }
  .row-info-ganadores{
    flex-direction: column;
    height: 960px;
  }
  .row-cruz{
    justify-content: center;
  }
  .num-cruz{
    margin-left: 3px;
    margin-right: 3px;
  }
}
@media only screen and (max-width: 944px) {
  .num-table {
    height: 430px;
  }
  .triangulo {
    height: 890px;
  }
  .decorativo {
    margin-top: -400px;
    margin-left: -215px;
  }
  .pelotas-bingo {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .animal-ball {
    width: 40px;
    height: 40px;
  }
  .animals-img {
    width: auto;
    height: 28px;
  }
  h3 {
    font-size: 1.6rem;
  }
  .elements p {
    font-size: 1.4rem;
  }
  .text-box {
    padding: 5px;
  }
  .bingo-col .number {
    font-size: 1.4rem;
    line-height: 29px;
  }
  /* section 4 */
  .card > img{
    width: 20em;
  }
  .tabla-numeros{
    margin-top: -200px;
    width: 20em;
    height: 20em;
  }
  .wrapper{
    width: 63em;
  }
  .card > .content{
    padding: 0.1em;
  }
  .card > .content > h3 {
    margin: 0.1em 0;
    font-size: 1.4rem;
  }
  .animal-tabla{
    margin-top: -26px;
    margin-left: -8px;
    height: 30px;
  }
  .section-info p{
    font-size: 1.6rem;
  }
  .info-circle{
    border-radius: 200px;
    padding: 10px;
  }
  .info-juego{
    height: 980px;
  }
  .polygon{
    border: 490px solid var(--solid-purple);
    border-left: 490px solid transparent;
    border-top: 490px solid transparent;
  }
}
@media only screen and (max-width: 911px) {
  header nav {
    margin-left: 0px;
    margin-right: 0px;
  }
  nav ul li a {
    font-size: 1.4rem;
  }
  .mySlides {
    height: 210px;
  }
  .slide-img {
    height: 150px;
  }
  .text {
    margin-left: 25px;
  }
  .text2 {
    margin-top: -145px;
  }
  .title {
    margin-top: -160px;
    font-size: 1.5rem;
  }
  .desc {
    margin-top: -130px;
    font-size: 1rem;
  }
  .desc2 {
    margin-left: 43%;
    margin-top: 10px;
    font-size: 1rem;
  }
  .button {
    width: 90px;
    height: 30px;
    font-size: 1.3rem;
  }
  .button-izq {
    margin-left: -85%;
    margin-top: 150px;
  }
  .button-der {
    margin-left: 69%;
    margin-top: 20px;
  }
  .next,
  .prev {
    padding: 8px;
  }
  .titles {
    font-size: 2rem;
  }
  p,
  .number,
  .contador span {
    font-size: 1.4rem;
  }
  .contador p {
    height: 45px;
    width: 45px;
    font-size: 1rem;
  }
  .section-slider {
    width: 150px;
  }
  .mySlides2 {
    height: 140px;
    width: 140px;
  }
  .premios,
  .stream {
    width: 440px;
  }
  .tabla-numeros p, .row-info-ganadores p{
    font-size: 1.6rem;
  } 
  .info-ganador p{
    font-size: 1.4rem;
  }
  .section-ganadores {
    height: 1200px;
}
}

@media only screen and (max-width: 861px) {
  .section-ganadores {
    height: 1200px;
  }
  .options ul li a{
    padding: 3px;
    font-size: 1.4rem;
  }
  .winner-column .bingo-box{
    width: 550px;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 740px) {
  .bingo-box,
  .animals-box {
    width: 415px;
    overflow-x: scroll;
  }
  .mySlides3,
  .slideshow-container3,
  .slider-3 {
    height: 180px;
    width: 180px;
  }
  .animal-ball {
    height: 30px;
    width: 30px;
  }
  .animals-img {
    height: 22px;
    width: auto;
    margin-top: 4px;
  }
  .slide-img3 {
    height: 145px;
  }
  .triangulo {
    height: 1050px;
    width: 750px;
    margin-top: -200px;
  }
  .decorativo {
    height: 50px;
    width: 200px;
    margin-top: -380px;
    margin-left: -185px;
  }
}
@media only screen and (max-width: 671px) {
  nav ul li a {
    font-size: 1.2rem;
  }
  header .icons {
    height: 25px;
  }
  /* section 4 */
  .card > img{
    width: 11em;
  }
  .tabla-numeros{
    margin-top: -110px;
    width: 11em;
    height: 11em;
  }
  .wrapper{
    width: 33.5em;
  }
  .wrapper > .inner{
    grid-gap: 0.2em;
  }
  .card > .content > h3 { 
    font-size: 1rem;
    margin: 0;
  }
  .card > .content {
    padding: 0em;
}
.tabla-numeros p{
  font-size: 0.97rem;
}
.colored-number{
  padding: 0;
}
.animal-tabla {
  margin-top: -17px;
  margin-left: -4px;
  height: 18px;
}
.section-info p{
  font-size: 1.4rem;
}
.animal-ganador{
  height: 40px;
}
.info-circle {
  border-radius: 50px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 6px;
  padding-top: 6px;
}
.info-animal{
  padding-top: 10px;
  padding-bottom: 10px;
}
.info-juego {
  height: 750px;
}
.polygon {
  border: 380px solid var(--solid-purple);
  border-left: 380px solid transparent;
  border-top: 380px solid transparent;
}
.options{
  flex-direction: column;
  align-items: center;
}
.options ul{
  margin-bottom: 5px;
  margin-top: 5px;
}
.winner-column .bingo-box {
  width: 370px;
}
.winner-column .tabla-numeros p, .row-info-ganadores p{
  font-size: 1.4rem;
} 
.info-ganador p{
  font-size: 1.2rem;
}
.section-ganadores {
  height: 1180px;
}
.red-social img{
  height: 20px;
  margin: 3px;
}
.red-social{ 
  margin: 7px;
}
#fb {
  height: 26px;
}
}
@media only screen and (max-width: 604px) {
  nav ul {
    display: grid;
  }
  .mySlides {
    height: 220px;
  }
  .text2 {
    margin-right: 40px;
  }
  .button-der {
    margin-left: 55%;
    margin-top: 15px;
  }
  .button-izq {
    margin-left: -80%;
    margin-top: 160px;
  }
  #img2 {
    margin-left: -50px;
  }
  #img1 {
    margin-right: -45px;
    height: 140px;
  }
  .titles {
    font-size: 1.6rem;
  }
  .premios,
  .stream {
    width: 400px;
  }
  p,
  .number,
  .contador span {
    font-size: 1.3rem;
  }
  .options{
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 425px) {
  .slide-img {
    height: 120px;
  }
  #img1 {
    height: 120px;
  }
  .desc2,
  .desc {
    font-size: 0.85rem;
  }
  .text {
    margin-top: -130px;
  }
  .desc {
    margin-top: -100px;
  }
  .text2 {
    margin-right: 25px;
    margin-top: -120px;
  }
  .desc2 {
    margin-left: 40%;
    margin-top: 10px;
  }
  .button {
    width: 75px;
    height: 30px;
    font-size: 1.1rem;
  }
  .button-der {
    margin-left: 50%;
  }
  .button-izq {
    margin-left: -75%;
    margin-top: 165px;
  }
  .titles,
  h3 {
    font-size: 1.4rem;
  }
  .premios,
  .stream {
    width: 300px;
  }
  p,
  .contador span {
    font-size: 1rem;
    line-height: 16px;
  }
  .stream {
    height: 240px;
  }
  .mySlides2 {
    width: 100px;
    height: 100px;
  }
  .slideshow-container2 {
    width: 110px;
    height: 110px;
  }
  .dots2 {
    margin-top: 15px;
  }
  .section-slider {
    margin-right: 0px;
  }
  /* section 3 */
  .slider-3,
  .slideshow-container3,
  .mySlides3 {
    width: 135px;
    height: 135px;
  }
  .slide-img3 {
    margin-top: 5px;
    width: 110px;
    height: 110px;
  }
  .next3 {
    right: 0px;
  }
  .dots3 {
    margin-top: -20px;
  }
  .conocer-premios {
    margin-top: 30px;
  }
  .bingo-box,
  .animals-box {
    width: 312px;
  }
  .num-table {
    margin-top: 70px;
    height: 370px;
  }
  .triangulo {
    height: 877px;
    margin-top: -180px;
  }
  .info-pelotas p {
    font-size: 1.2rem;
  }
  .primer-juego {
    margin-top: 5px;
  }
  .decorativo {
    height: 40px;
    width: 155px;
    margin-top: -340px;
    margin-left: -155px;
  }
  .text-box {
    padding: 4px;
  }
  .options ul li a {
    padding: 2px;
    font-size: 1.2rem;
  }
  .winner-column .card img {
    width: 16em;
  }
  .winner-column .tabla-numeros {
    margin-top: -160px;
    width: 16em;
    height: 16em;
  } 
  .winner-column .card p, .row-info-ganadores p{
    font-size: 1.3rem;
  }
  .winner-column .bingo-box {
    width: 260px;
  }
  .winner-column .bingo-col {
    margin-left: 2px;
  }
  .num-sorteado { 
    width: 25px;
    height: 25px; 
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .info-ganador p {
    font-size: 1.1rem;
  }
  .row-info-ganadores { 
    height: 820px;
  }
  .section-ganadores {
    height: 1040px;
  }
  .red-social{ 
    margin: 4px;
  }
}
/* slider text */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
